@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', 'Baloo 2', 'Balsamiq Sans', Monospace;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right, #36d1dc, #5b86e5) no-repeat;
}

a {
  text-decoration: none;
}

#ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.ratings-heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ratings-heading h1 {
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #202020;
  color: #ffffff;
  padding: 10px 20px;
}

.ratings-heading span {
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ratings-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
}

.special-ratings-box {
  width: 500px;
  box-shadow: 2px 2px 30px black;
  background: linear-gradient(45deg, yellow, lightblue);
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  overflow: auto;
}

.special-ratings-box:hover {
  background: linear-gradient(45deg, lightblue, yellow);
}

.ratings-box {
  width: 500px;
  box-shadow: 2px 2px 30px grey;
  background: linear-gradient(45deg, yellow, aqua);
  padding: 20px;
  margin: 15px;
  text-align: center;
  overflow: auto;
}

.ratings-box:hover {
  box-shadow: 2px 2px 30px black;
  border-radius: 10px;
  background: linear-gradient(0deg, aqua, yellow);
}

img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-img:hover{
  box-shadow: 2px 2px 20px grey;
}
.profile-img img:hover{
  box-shadow: 2px 2px 20px grey;
}

.profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d;
  font-size: 2.2rem;
  letter-spacing: 0.5px;
}

.name-user span {
  color: #979797;
  font-size: 1.5rem;
  cursor: pointer;
}

.reviews {
  color: #f9d71c;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sup-comment {
  font-size: 1.8rem;
  color: #4b4b4b;
  font-family: 'Chakra Petch', monospace;
}

.special-comment {
  font-size: 1.8rem;
  color: black;
  align-self: center;
  font-family: 'Chakra Petch', monospace;
}
input{
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Balsamiq Sans', monospace;
}
button{
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  font-family: 'Coming Soon', monospace;
}

i {
  color: black;
}

i:hover {
  color: lightslategrey;
}

.headings {
  position: relative;
  font-weight: 200;
  font-size: 2.1em;
}

.headings .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.headings .letters {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}
button{
  background: linear-gradient(45deg, aqua, yellow);
  box-shadow: 0px 1px 0px black;
  font-style: bold;
  font-size: 1.5rem;
  border-radius: 1.1rem;
  cursor: pointer;
}
button:hover{
  background: linear-gradient(0deg, yellow, aqua);
  box-shadow: 0px 1px 0px white;
  font-size: 2rem;
  font-style: italic;
}
#scrib1 {
 font-size: 1.36rem;
 font-family: 'Balsamiq Sans', monospace;
 font-style: italic;
}
